<style>
#shell {
  /*height: 500px;*/
  width: 500px;
  margin-left: 150px;
}
  #nav {
    height: 37px;
    /*width: 350px;*/
    margin: auto auto auto auto;
    margin-left: 148px;
    /*margin-right: 0px;*/
    /*padding-left: 0px;*/
    /*padding-right: 300px;*/
    text: black;
    border-radius: 10px;
    border: 2px solid black;
    background: orange url("http://leapingbunny.org/sites/all/themes/lbunny/images/small-logo.png") no-repeat left top;
    background-size: 15%;
  }
  #page {
    background-color: orange;
    height: 500px;
    margin: 5px auto;
    border: 2px solid black;
    border-radius: 10px;
    }
  h1 {
    text-align: right;
    padding-right: 20px;
  }
  ul {
    text-align: right;
  }
  li {
    padding: auto;
    display: inline;
    margin: auto 12px auto 20px;
    font-size: 20px;
  }
</style>
