* {
`  /*list-style: none;*/
  /*text-decoration: none;*/
  padding:0;
  margin:0;
}

.container {
height: 500px;
width: 500px;
/*margin-left: 150px*/
margin: 0 auto;
}

.deadbetsy {
  height: 41px;
  width: 25%;
  float: left;
  margin-top: .5em;
  /*background-color: orange*/
  } 



nav {
  height: 37px;
  width: auto;
  float: right;
  margin: .5em 0 .5em 0;
  padding-left: 51px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: 666w
}

/* Dropdown */
nav a {
  display: block;
}
nav > ul {
  /*text-align: left;
  float: right;*/
  padding: 0;
}

nav > ul li {
  float: left;
  padding: 0;
  display: inline-block;
  width: 100px;
  font-size: 20px
}

nav > ul li a {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: .3em
}

nav > ul li ul {
  display: none;
  opacity: 0;
  float: right;
  /*background-color: pink;*/
}

nav > ul :hover {
  color: green;
  /*display: block;*/
}

/* show menu */
nav > ul :hover > ul {
  opacity: 1;
  transition: opacity .4s;
  display: block;
  background: white;
  position: relative;
  padding: 0;
}



/* Page (main) Content */
.page {
  background-color: orange;
  height: 500px;
  margin: 6px auto;
  border: 2px solid black;
  border-radius: 10px;
  clear: both;
}

/* h3 h1 ol li /h1 p */
.page h3 {
}

.page h1 {
  text-align: right;
  padding: .5em .5em .5em 10em;
  width: 3em;
  /*text-indent: 10em;*/
}

.page ol {
  list-style-type: decimal;
  padding: 0;
}

.page p {
  text-indent: .75em;
}

footer {
  float: right; 
}

/* .background:
  color-image-repeat-attachment-position */
/* .dot means you're looking for a class */
/* #hash calls an id */
